---
import Layout from "../layouts/Layout.astro";
import ButtonSelect from "@src/components/molecules/ButtonSelect.astro";
import TitleSelect from "@src/components/molecules/TitleSelect.astro";
---
<Layout>
  <main class="flex flex-col items-start justify-center gap-20">
    <TitleSelect />
    <ButtonSelect />
  </main>
</Layout>
