---
import Layout from "../layouts/Layout.astro";
import Button from "../components/atoms/Button.astro";
---
<Layout>
  <header>
  <main class="w-full flex flex-col items-start justify-center gap-20 ">
      <!-- <ButtonSelect /> -->
        <Button variant="warning" >Hola mundo</Button>

  </main>
</Layout>
