---

import Title from '../components/atoms/Title.astro';
import Layout from '../layouts/Layout.astro';
import Button from '../components/atoms/Button.astro';

---

<Layout>
	<Title  as="h1"  color="gradient" >Welcome to astro UI</Title>
	<Button variant="error" class="w-auto">Click here to order a pipsha</Button>
</Layout>
