---
import { colorClasses, variantClasses } from "@src/utils/getColor";
import Title from "../atoms/Title.astro";
import Titles from "@src/components/docs/Tiltle.md";
---

<div id="title-filters" class="flex items-center justify-between gap-20 my">
  <div class="flex items-start gap-10 flex-col">
    <Titles />
    <div class="flex justify-center gap-10">
      <select name="select-tag" id="title-tag">
        {
          Object.keys(variantClasses).map((variant) => (
            <option value={variant}>{variant}</option>
          ))
        };
      </select>
      <select name="" id="title-color">
        {
          Object.keys(colorClasses).map((variant) => (
            <option value={variant}>{variant}</option>
          ))
        };
      </select>
    </div>

    <Title attributes={{ id: "title-type" }} as="h1" color="gradient">Welcome to astro UI</Title
    >

  </div>
<script>
    import {
      variantClasses,
      colorClasses,
    } from "@utils/getColor.js";

    /* Title styles */
    const titleType = document.querySelector("#title-type") as HTMLElement;
    const selectVariant = document.querySelector(
      "#title-tag"
    ) as HTMLSelectElement;
    const selectColor = document.querySelector(
      "#title-color"
    ) as HTMLSelectElement;
    const titleFilters = document.querySelector("#title-filters") as HTMLDivElement;

    type CurrentTag = keyof typeof variantClasses;
    type CurrentColor = keyof typeof colorClasses;

    let currentTag = selectVariant.value as CurrentTag;
    let currentColor = selectColor.value as CurrentColor;

    titleFilters.addEventListener("change", (e) => {
      let tag = e.target as HTMLSelectElement;
      if (tag.tagName !== "SELECT") return;

      if (tag.id === "title-color") {
        currentColor = tag.value as CurrentColor;
      }

      if (tag.id === "title-tag") {
        currentTag = tag.value as CurrentTag;
      }

      titleType.setAttribute("class",
          variantClasses[currentTag]
          + " " + colorClasses[currentColor]
      );
    });
  </script>