---

import TitleSelect from "@molecules/TitleSelect.astro";
---

<section class="flex flex-col  py-20 w-full mx-auto">
      <TitleSelect />
</section>

<style is:global>
  pre {
    margin-top: 2rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 9px;
  }
</style>
